@model IEnumerable<VehicleViewModel>;

<h1 class="display-4">Vehicles</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Model</th>
            <th>RegistrationNumber</th>
            <th>YearIssue</th>
            <th>Color</th>
            <th>Mileage</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vehicle in Model)
        {
            <tr>
                <td><a asp-action="Details" asp-route-id="@vehicle.VehicleId">@vehicle.Model</a></td>
                <td>@vehicle.RegistrationNumber</td>
                <td>@vehicle.YearIssue</td>
                <td>@vehicle.Color</td>
                <td>@vehicle.Mileage</td>
                <td>
                    <div class="btn-group">
                        <form method="post" asp-action="Delete">
                            <input type="hidden" name="vehicleId" value=@vehicle.VehicleId>
                            <a type="button" asp-action="Edit" asp-route-id="@vehicle.VehicleId" class="btn btn-secondary">Edit</a>
                            <button type="submit" class="btn btn-dark">Delete</button>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<a type="button" asp-action="Create" class="btn btn-outline-dark btn-lg btn-block">Add vehicle</a>